p {
    font-size: 110%;
    animation: .8s shake infinite alternate;
  }

  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

h1 {
    color: black;
    text-shadow: -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink, 1px 1px 0 pink;
    font-size: 300%;
  }

.image { 
    filter:brightness(200%);
  }

body  {
    background-image: linear-gradient(#FF0800, #960018);
    font-family: Copperplate Gothic Light;
    text-align: center;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    filter: drop-shadow(10px 10px 10px #A4BBFF);
}

.player {
    color: lightgreen;
    font-weight: bold;
}

.player {
    animation: blinker 1s step-start infinite;
}
 
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  aside {
    font-style: italic;
  }

  #myHeader {
    font-size: 80%;
  }

